@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #022874;
    --branco: #b40c0c;
    --laranja: #52452c;
    --azul-degrade: linear-gradient(97.54deg, #ca0db1 35.49%, #6fc211 165.37%);
    --fonte-principal: "Poppins";
    --azul: #b8c412;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}